<div class="backgroundpage">
    <div class="back-img">
        <img class="back" src="/img/mainpage/main-back.webp" alt="">
        <img class="back" src="/img/mainpage/back-animation.webp" alt="">
        <img class="back" src="/img/mainpage/back-yellow.webp" alt="">
        <div class="back-container">
            <img src="/img/background/line-yellow-l.webp" alt=""
            :class="{'animate__animated animate__zoomIn':active}">
            <div class="back-sub-container">
                <img src="/img/background/line-yellow-s.webp" alt=""
                :class="{'animate__animated animate__zoomIn animate__delay-02s':active}">
                <img src="/img/background/line-yellow-top.webp" alt=""
                :class="{'animate__animated animate__fadeInDown animate__delay-02s':active}">
                <img src="/img/background/line-yellow-top.webp" alt=""
                :class="{'animate__animated animate__fadeInUp animate__delay-02s':active}">
                <div class="container-frame">
                    <img src="/img/background/back-yellow-frame.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img src="/img/mainpage/mainpage-8.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img src="/img/mainpage/mainpage-8.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img class="left-up" src="/img/background/diamond-yellow.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img class="left-bottom" src="/img/background/diamond-yellow.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img class="right-up" src="/img/background/diamond-yellow.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <img class="right-bottom" src="/img/background/diamond-yellow.webp" alt=""
                    :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                    <span :class="{'animate__animated animate__zoomIn animate__delay-07s':active}"
                    >{{ title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>