<div class="threepage">
    <Backgroundpage :active="active" :title="title"/>
    <div class="container">
        <div class="sub-container">
            <div class="content"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <div >
                    <span>
                        影像創新多元化、文創合作、商品注入創意新活力」的概念，並結合國內外的製作團隊，融入商品的獨特性，
                    </span>
                </div>
                <div>
                    <span>
                        以最完整的方式將商品呈現。
                    </span>
                </div>
                <div>
                    <span>
                        將與各行業交流，除可以引進資金及專業團隊之外，抱持真摯用心，從台灣出發國際化，並持續經營兩岸合作，達到互利模式。
                    </span>
                </div>
            </div>
            <div class="img-content"
            :class="{'animate__animated animate__fadeInUp animate__delay-05s':active}">
                <div class="img-container">
                    <img src="/img/threepage/threepage-img-1.jpg" alt="">
                </div>
                <div class="img-container">
                    <img src="/img/threepage/threepage-img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>