<div class="threepage">
    <Backgroundpage :active="active" :title="title"/>
    <div class="container">
        <div class="sub-container">
            <div class="content"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <div >
                    <span>
                        專業展場司儀創新多元化、公司與人的合作、將商品注入「創意新活力」的概念，並結合個人的氣質特色，融入商品的獨特性，
                    </span>
                </div>
                <div>
                    <span>
                        以最完整的方式將商品呈現。
                    </span>
                </div>

            </div>
            <div class="img-content"
            :class="{'animate__animated animate__fadeInUp animate__delay-05s':active}">
                <div class="img-container">
                    <img src="/H5/4/img/threepage/threepage-img-1.jpg" alt="">
                </div>
                <div class="img-container">
                    <img src="/H5/4/img/threepage/threepage-img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>