<div class="mainpage">
    <div class="back-img">
        <img class="back-fill" src="/img/mainpage/main-back.webp" alt="">
        <img class="back-fill" src="/img/mainpage/back-animation.webp" alt="">
        <img class="back-fill" src="/img/mainpage/back-yellow.webp" alt="">
        <div class="container-diamond">
            <img src="/img/mainpage/mainpage.webp" alt=""
            :class="{'animate__animated animate__zoomIn animate_slow':active}">
            <img src="/img/mainpage/mainpage-1.webp" alt=""
            :class="{'animate__animated animate__zoomIn animate_slow':active}">
            <img src="/img/mainpage/mainpage-2.webp" alt=""
            :class="{'animate__animated animate__zoomIn animate_slow':active}">
            <img src="/img/mainpage/mainpage-3.webp" alt=""
            :class="{'animate__animated animate__zoomIn animate_slow':active}">
            <div class="container-logo"
            :class="{'animate__animated animate__fadeIn animate__delay-02s':active}">
                <img src="/img/Logo.webp" alt="">
            </div>
            <div class="container-parallel right-up"
            :class="{'animate__animated animate__flipInY animate__delay-05s':active}">
                <img  src="/img/mainpage/mainpage-4.webp" alt="">
            </div>
            <div class="container-parallel right-bottom"
            :class="{'animate__animated animate__flipInY animate__delay-05s':active}">
                <img  src="/img/mainpage/mainpage-5.webp" alt="">
            </div>
            <div class="container-parallel left-up"
            :class="{'animate__animated animate__flipInY animate__delay-05s':active}">
                <img  src="/img/mainpage/mainpage-5.webp" alt="">
            </div>
            <div class="container-parallel left-bottom"
            :class="{'animate__animated animate__flipInY animate__delay-05s':active}">
                <img  src="/img/mainpage/mainpage-4.webp" alt="">
            </div>
        </div>
        <div class="container-bottom">
            <div class="top"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <img src="/img/mainpage/mainpage-8.webp" alt="">
            </div>
            <div class="mid"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <span>頂尖國際傳媒集團</span>
                <span>TOP INTERNATIONAL MEDIA GROUP</span>
            </div>
            <div class="bottom"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <img src="/img/mainpage/mainpage-8.webp" alt="">
            </div>

        </div>
    </div>
</div>