<div class="eightpage">
    <Backgroundpage :active="active" :title="title"/>
    <div class="container">
        <div class="sub-container">
            <div class="map-container"
            :class="{'animate__animated animate__zoomIn animate__delay-05s animate__slow':active}">
                <div class="img-container">
                    <img src="/img/fivepage/12.jpg" alt="">
                </div>
                <div class="a-container">
                    <a href="https://www.facebook.com/FEINIEL ">前往粉專</a>
                    <a href="https://www.facebook.com/FEINIEL ">前往粉專</a>
                </div>
            </div>

            <div class="connection">
                <div class="content"
                :class="{'animate__animated animate__zoomIn animate__delay-05s':active}"
                v-for="item in connection" :key="item.index">
                    {{ item }}
                </div>
            </div>
        </div>
    </div>
</div>