.mainpage{
    height: 100%;
    .back-img{
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .back-fill{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container-diamond{
            position: relative;
            height: 80%;
            @media (min-width:768px) {
                height: 76%;
            }
            img{
                position: absolute;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            img:nth-child(1){
                top: 0;
                left: 20%;
                width: 60%;
            }
            img:nth-child(2){
                top: 7%;
                left: 20%;
                width: 60%;

            }
            img:nth-child(3){
                top: 3%;
                left: -4%;
                @media (min-width:1200px) {
                    width: 90%;
                    left: 9%;
                }
            }
            img:nth-child(4){
                top: 3%;
                left: 4%;
                @media (min-width:1200px) {
                    width: 90%;
                    left: 0%;
                }
            }
            .container-logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-34%);
                width: 25%;
                height: 25%;
                .logo{
                    font-size: 7vmin;
                    height: 100%;
                    color: #F1D77F;
                    font-weight: 900;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .container-parallel{
                position: absolute;
                width: 45%;
                height: 45%;
                @media (min-width:375px) {
                    width: 50%;
                }
                @media (min-width:375px) and (min-height:667px) {
                    width: 50%;
                    height: 40%;
                }
            }
            .right-up{
                right: -2%;
                top: 7%;
                @media (min-width:1100px) {
                    top: 3%;
                }
            }
            .left-up{
                left: -3%;
                top: 7%;
                @media (min-width:1100px) {
                    top: 3%;
                }
            }
            .right-bottom{
                bottom: -2%;
                right: -2%;
            }
            .left-bottom{
                bottom: -2%;
                left: -2%;
            }
        }
        .container-bottom{
            position: relative;
            padding: 25px 10px;
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .top{
                position: relative;
                width: 90%;
                height: 23%;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .mid{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: #F1D77F;
                span:nth-child(1){
                    font-size: 20px;
                    @media (min-width:768px) {
                        font-size: 32px;
                    }
                }
                span:nth-child(2){
                    font-size: 12px;
                    @media (min-width:768px) {
                        font-size: 20px;
                    }
                }
            }
            .bottom{
                position: relative;
                width: 90%;
                height: 23%;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }
}