.threepage{
    position: relative;
    height: 100%;
    .container{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 44px);
        height: calc(100% - 190px);
        padding: 50px 22px;
        padding-top: 140px;
        color: #F1D77F;
        @media (min-width:375px) {
            height: calc(100% - 220px);
            padding-top: 170px;
            padding-bottom: 50px;
        }
        @media (min-width:375px) and (min-height:812px) {
            height: calc(100% - 290px);
            padding-top: 220px;
            padding-bottom: 70px;
        }
        @media (min-width:768px) {
            width: calc(100% - 90px);
            height: calc(100% - 390px);
            padding: 0 45px;
            padding-top: 290px;
            padding-bottom: 100px;
        }
        @media (min-width:1200px) {
            height: calc(100% - 350px);
            padding-top: 250px;
            padding-bottom: 100px;
        }
        >.sub-container{
            padding: 10px 20px;
            height: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-weight: 300;
            .content{
                text-align: center;
                font-size: 14px;
                @media (min-width:768px) {
                    font-size: 20px;
                }
                span{
                    margin: 5px 0;
                }
                div:nth-child(2){
                    margin-bottom: 10px;
                }
            }
            .img-content{
                display: flex;
                justify-content: space-between;
                .img-container{
                    width: 47%;
                    height: 150px;
                    position: relative;
                    @media (min-width:768px) {
                        height: 200px;
                    }
                    
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}