.twopage{
    position: relative;
    height: 100%;
    .container{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 44px);
        height: calc(100% - 210px);
        padding: 50px 22px;
        padding-top: 160px;
        color: #F1D77F;
        @media (min-width:375px) {
            height: calc(100% - 240px);
            padding-top: 190px;
            padding-bottom: 50px;
        }
        @media (min-width:375px) and (min-height:812px) {
            height: calc(100% - 290px);
            padding-top: 220px;
            padding-bottom: 70px;
        }
        @media (min-width:768px) {
            width: calc(100% - 90px);
            height: calc(100% - 390px);
            padding: 0 45px;
            padding-top: 290px;
            padding-bottom: 100px;
        }
        @media (min-width:992px) {
            width: calc(100% - 90px);
            height: calc(100% - 440px);
            padding: 0 45px;
            padding-top: 340px;
            padding-bottom: 100px;
        }
        @media (min-width:1200px) {
            height: calc(100% - 350px);
            padding-top: 250px;
            padding-bottom: 100px;
        }
        >.sub-container{
            padding: 10px 20px;
            height: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 300;
            @media (min-width:768px) {
                align-items: center;
            }
            span{
                font-size: 14px;
                @media (min-width:768px) {
                    font-size: 20px;
                }
            }
            .x-container{
                @media (min-width:768px) {
                    width: 100%;
                }
                .content{
                    position: relative;
                    height: 115px;
                    width: 150px;
                    margin: 0 auto;
                    @media (min-width:768px) {
                        height: 150px;
                        width: 40%;
                    }
                    span{
                        font-size: 20px;
                        position: absolute;
                        @media (min-width:768px) {
                            font-size: 28px;
                        }
                    }
                    span:nth-child(1){
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    span:nth-child(2){
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    span:nth-child(3){
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    span:nth-child(4){
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .line-1{
                        position: absolute;
                        top: 50%;
                        background-color: #F1D77F;
                        height: 1px;
                        width: 100%;
                        transform: rotate(45deg);
                    }
                    .line-2{
                        position: absolute;
                        top: 50%;
                        background-color: #F1D77F;
                        height: 1px;
                        width: 100%;
                        transform: rotate(-45deg);
                    }
                    .animate__rotateIn-left {
                        animation-name: rotateIn-edit-left ;
                        transform-origin: center;
                        animation-duration: 1.5s;
                    }
                    .animate__rotateIn-right {
                        animation-name: rotateIn-edit-right ;
                        transform-origin: center;
                        animation-duration: 1.5s;
                    }
                    @keyframes rotateIn-edit-left {
                        from {
                            
                            transform: rotate3d(0, 0, 1, -300deg);
                            opacity: 0;
                        }
                        
                        to {
                            transform: rotate(-45deg);
                            opacity: 1;
                        }
                    }
                    @keyframes rotateIn-edit-right {
                        from {
                            
                            transform: rotate3d(0, 0, 1, 300deg);
                            opacity: 0;
                        }
                        
                        to {
                            transform: rotate(45deg);
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }
}