<div class="fourpage">
    <Backgroundpage :active="active" :title="title"/>
    <div class="container">
        <div class="sub-container">
            <div class="img-content"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <div class="img-container">
                    <img src="/img/fourpage/fourpage-img.jpg" alt="">
                </div>
                <span 
                :class="{'animate__animated animate__slideInLeft animate__delay-05s':active}">企業社會責任獎</span>
            </div>
            <div class="content"
            :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
                <span>
                    頂尖秉持取之社會回饋社會的態度 ,
                </span>
                <span>期望社會大眾更加重視弱勢團體及毛小孩</span>
            </div>
        </div>
    </div>
</div>