<div class="fourpage">
    <Backgroundpage :active="active" :title="title"/>
    <div class="container">
        <div class="sub-container">
            <div class="img-content"
            :class="{'animate__animated animate__zoomIn animate__delay-05s':active}">
                <div class="img-container">
                    <img :src="img" alt="">
                </div>
                <span 
                :class="{'animate__animated animate__slideInLeft animate__delay-05s':active}">破萬粉絲專業</span>
            </div>
            <div class="content"
            :class="{'animate__animated animate__fadeIn animate__delay-1s':active}">
                <span>
                    萬人的粉絲專業，
                </span>
                <span>
                    持續經營、粉絲黏濁性高、期待與您合作。
                </span>
            </div>
        </div>
    </div>
</div>